<head><div id="index"></div></head>

<div id='help'><body><h3><i><font color="gray">Please choose your input files in csv format only.</font><i></h2></div>

<div class="tab-content">
    
<div class="tab-pane active" id="1" data-step="1"></div>

</div>

<div id='hb'><%= link_to image_tag("/assets/back4.jpeg",height: '45', width:'45'),faces_compare_path%></div>

</body>
